.recommendedAnimeSecionList {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.recommendedAnimeList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 250px;    
}

.recommendedAnimeItem {
    margin-left: 10px;
    margin-right: 10px;
    transition: transform .2s;
}

.recommendedAnimeItem:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    cursor: pointer;
}

h1 {
    color: #e5e5e5;
}

.recommendedAnimeTitle {
    font-size: .95rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.arrowRight {
    padding-left: 20px;
    padding-right: 20px;
    transition: transform .2s
}

.arrowLeft {
    padding-right: 20px;
    padding-left: 20px;
    transition: transform .2s
}

.arrowRight:hover {
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari 3-8 */
    transform: scale(1.15); 
    cursor: pointer;
}

.arrowLeft:hover {
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari 3-8 */
    transform: scale(1.15); 
    cursor: pointer;
}