.sectionHeader {
    padding-top: 20px;
    padding-left: 100px;
    color: white;
    font-size: 1.4vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}

.recommendedAnimeSectionContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.paginationList {
    margin-right: 95px;
}

.circle {
    height: 8px;
    width: 8px;
    background-color: #858585;
    border-radius: 50%;
    margin-top: 10px;
}

.circleActive {
    height: 8px;
    width: 8px;
    background-color: #CFCCCC;
    border-radius: 50%;
    margin-top: 10px;
}

.paginationContainer {
    list-style-type: none;
    display: flex;
    padding-right: 100px;
}

.paginationItem {
    margin-right: 3px;
}